[init]
	defaultBranch = main

[user]
	email = {{email}}
	name = Drew Zemke

[core]
	editor = {{editor}}
	excludesFile = .git/.user_gitignore
	pager = delta

[delta]
	side-by-side = true 
    minus-emph-style = syntax "#874447"
    minus-style = syntax "#44313b"
    line-numbers-minus-style = "#874447"
    plus-emph-style = syntax "#538e5c"
    plus-style = syntax "#344840"
    line-numbers-plus-style = "#538e5c"

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[alias]
    lg = log --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lgg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lgv = log --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'  

[credential "https://github.com"]
	helper = !gh auth git-credential

[alias]
    line-info = "!f() { \
        SHA=$(git blame -L \"$1\",\"$1\" \"$2\" | cut -d \" \" -f 1); \
        if [ \"$SHA\" = \"00000000\" ] || [ -z \"$SHA\" ]; then \
            echo \"Not yet committed.\"; \
        else \
            echo \" Commit: $SHA\"; \
            echo \" Author: $(git log -n 1 --pretty=format:%an $SHA)\"; \
            echo \"   Date: $(git log -n 1 --pretty=format:%ad --date=format:'%a, %b %d %Y, %H:%M' $SHA)\"; \
            echo \"Message: '$(git log -n 1 --pretty=format:%s $SHA)'\"; \
        fi \
    }; f"

    url = "!f() { \
        remote_url=$(git config --get remote.origin.url); \
        branch=$(git rev-parse --abbrev-ref HEAD); \
        file_path=$1; \
        line_num=$2; \
        repo_path=$(echo $remote_url | sed -E 's/.*[:\\/]([^\\/]+\\/[^\\/]+)\\.git/\\1/'); \
        github_url=\"https://github.com/${repo_path}/blob/${branch}/${file_path}\"; \
        if [ ! -z \"$line_num\" ]; then \
            github_url=\"${github_url}#L${line_num}\"; \
        fi; \
        echo $github_url; \
    }; f"
