[mgr]
prepend_keymap = [
  { on = "<Enter>", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
  { on = "<Esc>", run = "leave", desc = "Back to the parent directory" },
]
