(
    open_help: Some(( code: Char('?'), modifiers: "",)),

    stash_open: Some(( code: Char('l'), modifiers: "",)),
    stage_unstage_item: Some(( code: Char(' '), modifiers: "", )),

    pull: Some(( code: Char('p'), modifiers: "",)),
    push: Some(( code: Char('P'), modifiers: "SHIFT",)),
    force_push: Some(( code: Char('p'), modifiers: "CONTROL",)),
    fetch: Some(( code: Char('f'), modifiers: "",)),
)
