layout {
	pane size=2 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left   " {mode} {tabs}"
            format_center "{notifications}"
            format_right  "{command_git_run_status} "
            format_space  ""

			border_enabled  "true"
			border_char     "─"
			border_format   "#[fg=magenta]{char}"
			border_position "bottom"
            
            hide_frame_for_single_pane "false"

            mode_normal  "#[bg=magenta] "
            mode_tmux    "#[bg=blue] "
            mode_pane    "#[bg=yellow] "
            mode_tab     "#[bg=yellow] "
            mode_scroll  "#[bg=cyan] "
            mode_search  "#[bg=cyan] "
            mode_move    "#[bg=green] "

            tab_normal   "#[fg=#6272a4] {name} "
            tab_active   "#[fg=magenta,bold,italic] {name} "

            command_git_run_status_command     "fish -c ~/.config/fish/scripts/git-run-status.fish"
            command_git_run_status_format      "{stdout}"
            command_git_run_status_interval    "30"
            command_git_run_status_rendermode  "static"

            notification_format_unread           "#[fg=cyan,bold,blink] #[fg=cyan] {message}"
            notification_show_interval           "10"        
        }
	}
	pane split_direction="vertical" 
}
