layout {
	pane size=2 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/download/v0.21.1/zjstatus.wasm" {
            format_left   " {mode} {tabs}"
            format_center "{notifications}"
            format_right  "{pipe_corner} "
            format_space  ""

			border_enabled  "true"
			border_char     "─"
			border_format   "#[fg=magenta]{char}"
			border_position "bottom"
            
            hide_frame_for_single_pane "false"

            mode_normal  "#[bg=magenta] "
            mode_tmux    "#[bg=blue] "
            mode_pane    "#[bg=yellow] "
            mode_tab     "#[bg=yellow] "
            mode_scroll  "#[bg=cyan] "
            mode_search  "#[bg=cyan] "
            mode_move    "#[bg=green] "

            // NOTE: have to manually specify colors here because they look weird otherwise
            tab_normal   "#[fg=#6272a4] {name} "
            tab_active   "#[fg=#ff79c6,bold,italic] {name} "

            pipe_corner_format      "{output}"
            pipe_corner_rendermode  "static"

            notification_format_unread           "#[fg=cyan,bold,blink] #[fg=cyan] {message}"
            notification_show_interval           "10"        
        }
	}
	pane split_direction="vertical" 
}
