layout {
	pane size=1 borderless=true {
		plugin location="zellij:compact-bar"
	}
	pane split_direction="vertical" {
		pane {
			size    "10%"
			command "broot"
		}
		pane {
			focus   true
			command "hx"
		}
		pane {
			size    "15%"
		}
	}
}
