# only do things if X11 is present
if test -n "$DISPLAY"
  # keyboard repeat rate
  # first number is delay, second is rate
  xset r rate 300 80

  # mouse acceleration
  xinput set-prop 'Logitech Gaming Mouse G502' 'libinput Accel Speed' -0.5

end

